@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/foodbg.png");
    background-size: cover;
    height: 100vh;
}

.order-card {
    background-color: #f6c56e;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 24px;
    height: 30vh;
}

.main-heading {
    color: #323f4b;
    font-size: 25px;
    font-family: "bree-serif";
}

.card-para {
    color: #323f4b;
    font-size: 15px;
    font-family: "roboto"
}

.card-button {
    border-width: 0px;
    border-radius: 4px;
    height: 40px;
    width: 80px;
    font-style: "roboto";
    font-size: 12px;
    background-color: #ffffff;
}